/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #ff7b54, #ffbb3b);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Navbar Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

/* Navbar Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-links li a:hover {
  background: #fff;
  color: #ff7b54;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.add{
background: #000;
}

.navbar-links .active-link{
  font-weight: bold;
  color: #ff7b54;
  background:#fff;
}